# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
# Archivos y carpetas generados por compilación
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.userosscache
*.suo
*.sln.docstates

# Archivos de configuración de VSCode
.vscode/

# Dependencias descargadas de NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos temporales
*.log
*.tlog
*.cache
*.pdb
*.mdb
*.ilk
*.obj
*.tmp
*.vspscc
*.vssscc

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
*.swp
*.swm
*.scc

# Archivos de publicación
wwwroot/
.publish/

# Configuraciones locales y secretos
secrets.json
appsettings.Development.json
appsettings.Local.json

# Docker
docker-compose.override.yml
.env

# Archivos específicos de Visual Studio
.vs/
.idea/
_ReSharper.Caches/

# Archivos de configuración de Rider
.idea/
.idea_modules/

# Archivos de caché de depuración de Visual Studio
.vs/

# Archivos de migración de Entity Framework Core (opcional, según tu flujo de trabajo)
Migrations/